@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


*{
	margin: 0;
}

.landingPage{
	width: 100%; height: 95vh;
	background: linear-gradient( #00000077,#000000),
	url(./background.webp);
	background-size: cover;

}


.landingPage{
	width: 100%
}


.welcome-text > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 1em;
	font-family: italiana;
	color: white;
	text-align: left;
	font-size: 10vh;
	padding-left: 0.3em;
}

.arrow-div{
	width: 100%;
}


.arrow-div > button {
	font-size: 4vh;
	position: relative;
	left: 0;
}
