@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


*{
	margin: 0;
}

.landingPage{
	width: 100%; height: 95vh;
	background: linear-gradient( #00000077,#000000),
	url(./background.webp);
	background-size: cover;
}

.welcome-text > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 1em;
	font-family: italiana;
	color: white;
	text-align: left;
	font-size: 4em;
	padding-left: 0.3em;
}

.arrow{
font-size: 4em;
color: rgb(145, 145, 145);
}