@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.gallerySection{
	width: 100%;
	background-color: black;
	background-size: cover;
  justify-content: center;
	padding: 0;
}


.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 100%;
	color: white;
	text-align: left;
}

.menu-container h2 {
	margin-bottom: 0.5em;
}
.menu-container h4 {
	margin-top: 0.5em;
}


.menu-container{
	position: relative;
  width: 100%;
  overflow: hidden;
}

.menu-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.menu-info{
  display: flex;
  width: 100%; height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  padding: 1em;
  line-height: 2.5vh;
}

.menu-title{
  margin: 0;
  padding-bottom: 0.5em;
}

.menu-decription {
  font-style: italic;
  margin-bottom: 12px;
  font-weight: 500;

}


.menu-contains-italic{
  font-style: italic;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000a2;
}

.menu-container:hover .overlay {
  opacity: 1;
}

.contains-text{
  margin-top: 1em;
}

.text {
  font-size: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.button-row{
  padding-top: 1em;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-btn{
  width: 40%;
  padding: 1em;
  background-color: #00000000;
  margin: 0;
}

@media (max-width: 750px){



.gallery{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 100%;

}

}