@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.gallerySection{
	width: 100%;
	background: linear-gradient( #000000bf,#0000007d),
	url(./background.webp);
	background-size: cover;
  	justify-content: center;
	padding: 0;
}


.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 100%;
	color: white;
	text-align: left;
}

.menu-container h2 {
	margin-bottom: 0.5em;
}
.menu-container h4 {
	margin-top: 0.5em;
}


.menu-container{
	position: relative;
  width: 100%;
  overflow: hidden;
}

.menu-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.menu-info{

  display: flex;
  width: 100%; height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 1em;
  line-height: 2.5vh;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000a2;
}

.menu-container:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.add-btn{
	position: absolute;
  top: 80%;
  left: 50%;
}

.button-row{

  width: 100%;
  display: flex;
  justify-content: space-evenly
}