.guest-navbar{
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 1em 2em ;
	position: sticky;
	z-index: 1000;
	top: 0;

}

.navbar select option {
	color: black;
}

.proceed-btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}


.navbar {
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.navbar > *{
	width: 33%;
}
