* {
    color: white;
}
/* .page-container {
    padding: 10em;
} */

.edit-menu-item-container {
    display: flex;
    border-bottom: 1px solid white;
    margin: 5em 0 3em 0;
}

.edit-menu-item-container > * {
    padding: 1em;
}

.column > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-img {
    max-width: 10em;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column2 > button {
    border: none;
}

.close {
    max-width: 3em;
    max-height: 3em;
}