.edit-page {
    background-color: rgb(111, 0, 0);
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    height: 100%;
}

.edit-menu-item-container {
    border-top: 1px solid white;
    padding-top: 2em;
    display: flex;
    gap: 1em;
    margin: 3em 0 0 0;
    justify-content: center;
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column p,
.column h3 {
    text-align: left;
    width: 100%;
}

.column2 > button {
    border: none;
}

.column3 button {
    padding: 0;
    border: 0;
    width: 100%;
}

.course-img {
    max-width: 10em;
    max-height: 20em;
}

.close {
    max-width: 3em;
    max-height: 3em;
    background-color: #00000000;
}

.edit-menu-button {
    background-color: #00000000;
}

.edit-menu-button:hover {
    color: #717171;
}

.line {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
}

@media (max-width: 700px) {
    .page-container {
        padding: 0em;
    }

    .edit-menu-item-container,
    .edit-menu-item-container > *,
    .column,
    .column2 {
        padding: 0.5em;
    }

    .course-img {
        max-width: 8em;
        max-height: 16em;
    }

    .column h3,
    .edit-menu-item-description,
    .edit-menu-item-price,
    .edit-menu-contains {
        font-size: smaller;
    }

    .edit-page {
        padding: 0;
    }
}

@media (max-width: 541px) {
    .course-img {
        max-width: 7em;
        max-height: 14em;
    }

    .edit-menu-item-container > *,
    .column,
    .column2 {
        padding: 0.25em;
    }
}

@media (max-width: 441px) {
    .edit-menu-item-container > *,
    .column,
    .column2 {
        padding: 0;
    }
    .column h3,
    .edit-menu-item-description,
    .edit-menu-item-price,
    .edit-menu-contains {
        font-size: x-small;
    }
}
/* FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORM */

.form-container {
    display: flex;
    margin: 5em 0 3em 0;
    justify-content: center;
}

.form-container > * {
    margin: 0.5em;
}

.add-img {
    padding: 3em;
    text-align: center;
}

.form-column,
.form-column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-column :nth-child(1),
.form-column2 :nth-child(1) {
    padding: 0.35em;
}

.form-column :nth-child(2),
.form-column2 :nth-child(2) {
    padding: 1em;
}

.form-column input[type="text"] {
    min-width: 30vw;
}

input {
    color: white;
    border: 1px solid rgb(142, 142, 142);
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 700px) {
    .form-container {
        display: flex;
        flex-direction: column;
        margin: 5em 0 3em 0;
        justify-content: center;
    }
    .form-container > * {
        margin: 0.5em;
    }

    .add-img {
        padding: 0.5em;
    }

    .form-column {
        display: flex;
        justify-content: space-around;
    }
    .form-column :nth-child(1),
    .form-column2 :nth-child(1) {
        margin-bottom: 0.8em;
    }
}
