.shopping-page{
	padding: 2em;
}

.shopping-cart-container {
	color: white;
	padding: 2em;
}

.back-btn-wrapper {
	display: flex;
	align-items: left;
}

.shopping-cart-list {
    display: flex;
	flex-direction: column;
	text-align: left;
    width: 100%;
	color: white;
	list-style-type: none;
}

.shopping-cart-item {
	border-bottom: 1px solid white;
	width: 100%;
	padding: 2em 0;
	gap: 1em;
	display: flex;
	gap: 1em;
	align-items: center;
}


.shopping-cart-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: left;
	padding: 1.5em;

}



.shopping-cart-img {
	max-width: 10em;
	max-height: 20em;

}

.shopping-cart-remove-btn {
	
	border: none;
	cursor: pointer;
	display: inline-block;
	width: fit-content;
	align-self: end;
}



.shopping-cart-description {
	margin-top: 1em;

}

.shopping-cart-price {
	margin-top: 1em;
}

.back-arrow {
	font-size: 2em;
}


.back-arrow {
	font-size: 2em;
}

.total-amount {
	text-align: right;
	margin-right: 1em;
	margin-top: 2em;
}

.spliter{
	display: flex;
	align-items: center;
	justify-content: space-between;
}