.shopping-cart-container {
	color: white;
}
.shopping-cart-container h1{
	text-decoration: underline;
	font-size: 2em;
}

.shopping-cart-list {
	display: flex;
	list-style-type: none;
	flex-direction: column;
}

.shopping-cart-item {
	display: flex;
}



.shopping-cart-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
}



.shopping-cart-img {
	max-width: 10em;
	max-height: 20em;
	
}

.shopping-cart-remove-btn {
	border: none;
	text-align: right;
}

.shopping-cart-title {

}

.shopping-cart-description {
	
}

.shopping-cart-price {

}

.back-arrow {
	font-size: 2em;
}
