.shopping-cart-container {
	color: white;
}
.shopping-cart-container h1{
	text-decoration: underline;
	font-size: 2em;
}

.shopping-cart-list {

    display: flex;
	flex-direction: column;
    gap: 1em;
    margin: 3em 0 0 0;
    justify-content: center;
	text-align: left;
    width: 100%;
	padding: 3em;
	color: white;

}

.shopping-cart-item {

	width: 100%;
	padding: 2em 0;
	display: flex;
	border-top: 1px solid white;
	gap: 1em;
	align-items: center;

}



.shopping-cart-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: left;
	padding: 1.5em;
	
}



.shopping-cart-img {
	max-width: 10em;
	max-height: 20em;
	
}

.shopping-cart-remove-btn {
	border: none;
	text-align: right;
	cursor: pointer;
	display: inline-block;
	width: fit-content;
	align-self: end;
}

.shopping-cart-title {

}

.shopping-cart-description {
	margin-top: 1em;
	
}

.shopping-cart-price {
	margin-top: 1em;	
}

.back-arrow {
	font-size: 2em;
}
.shopping-cart-container {
	color: white;
}
.shopping-cart-container h1{
	text-decoration: underline;
	font-size: 2em;
}

.shopping-cart-list {
	display: flex;
	list-style-type: none;
	flex-direction: column;
}

.shopping-cart-item {
	display: flex;
	margin-top: 0.5em;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	padding-bottom: 1em;
}



.shopping-cart-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
}



.shopping-cart-img {
	max-width: 10em;
	max-height: 20em;

}

.shopping-cart-remove-btn {
	border: none;
	text-align: right;
	background-color: #00000000;
}

.shopping-cart-title {

}

.shopping-cart-description {

}

.shopping-cart-price {

}

.back-arrow {
	font-size: 2em;
}

.total-amount {
	text-align: right;
	margin-right: 1em;
	margin-top: 2em;
}
