header{
	width:100%; height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10vh;

}
header > *{
	width:33%;

}

.logo * {
	width: 240px; height: 240px;

}


nav * {
	display: flex;
	flex-direction: row;
	gap: 1em;

}