@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


*{
	margin: 0;
}

.footerSection{

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 95vh;
	background: linear-gradient( #000000,#00000096),
	url(./background.webp);
	background-size: cover;
}

.footer-logo{

	width: 100%;
	height: 100%;
	background-image: linear-gradient( #000000bf,#0000007d), url(./logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.arrow-div > button{
	background-color: rgba(255, 0, 0, 0);

}
.footer-info{
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.footer-column{

	display: flex;
	flex-direction: column;
	width: 100%;



}
.footer-title{
	letter-spacing: 0.25em;
}

.line{
	width:100%;
	border: 1px solid rgb(150, 150, 150);
}

@media (max-width: 500px){

	.footer-info{
	display: flex;
	flex-direction: column;

	}
	.line{
	width: 75%;

	}

}