.loginSection{
	width: 100%;
	height: 80vh;
	font-size: 10em;
	display: flex;
	justify-content: center;
	text-align: center;
}

.letter {
font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  margin: 0 2px;
  transition: all 0.3s ease;
font-size: 10em;
}

.letter:hover {
  color: #009688; /* Hover color */
}

.clicked {
  color: #f00; /* Color for a click blink */
}

.correct {
  animation: greenBlink 1s;
}

@keyframes greenBlink {
  0%, 100% { background-color: transparent; }
  50% { background-color: green; }
}

