.loginSection{
	width: 100%;
	height: 80vh;
	font-size: 10em;
	display: flex;
	justify-content: center;
	text-align: center;
}

.letter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10em;
  cursor: pointer;
  margin: 0 2px;
  transition: all 0.3s ease;
}

.letter:hover {
  color: rgb(117, 117, 117);
}
.clicked {
  color: #009688;
}

.correct {
  animation: greenBlink 600ms 2;
}

.wrong {
  animation: redBlink 600ms 2;
}

@keyframes redBlink {
  0%, 100% { background-color: transparent; }
  50% { color: rgb(133, 18, 18); }
}

@keyframes greenBlink {
  0%, 100% { background-color: transparent; }
  50% { background-color: green; }
}
